.container {
  text-align: center;
}

.translation {
  opacity: 0.3;
}

.form {
  display: inline-flex;
  align-items: center;
}

.input {
  padding: 10px;
  margin-left: 20px;
}

.button {
  background: transparent;
  border: none;
  outline: none;
}
