.container {
  text-align: center;
}

.hint {
  opacity: 0.3;
}

.form {
  display: inline-flex;
  align-items: center;
}

.input {
  padding: 10px 0;
  margin-left: 20px;
  border: none;
  background: none;
  border-bottom: 2px solid black;
  outline: none;
  border-radius: 0;
}

.button {
  background: transparent;
  border: none;
  outline: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-color: var(--incorrect);
}

.answerHint {
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 5px;

  &:empty {
    &:after {
      content: 'Hint...';
      visibility: hidden;
    }
  }
}