.container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.counts {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }

  .correct,
  .incorrect {
    margin: 5px;
  }
  .correct {
    color: var(--correct);
  }
  .incorrect {
    color: var(--incorrect);
  }
}
