.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 100px;
}

.correct {
  color: var(--correct);
}

.incorrect {
  color: var(--incorrect);
}

.h1 {
  margin-bottom: 10px;
}

.h2 {
  margin-top: 0;
  color: gray;
}

.button {
  margin-top: 10px;
  border: none;
  background: transparent;
  font-size: 5rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    border: 1px dashed darkorange;
  }
}
